* {
    font-family: 'Roboto', sans-serif;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 100%;
}

.active {
    background-color: #f98720;
    color: #fff;
}

body {
    color: #383838;
    min-height: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    background-image: url(../assets/img/bible_pages.jpg);
    background-position: 50% 50%;
}

#bible_logo, .settings_btn {
    height: 4rem;
    margin: 2rem 1rem;
}

#bible_logo:hover > .bible_logo {
    fill: #f98720;
}

.bible_logo {
    fill: #383838;
}

.bible_box {
    fill-opacity: 0;
}

.the_holy_bible {
    margin: 0 auto;
    font-family: 'Oswald', sans-serif;
    font-size: 300%;
    line-height: 300%;
    vertical-align: middle;
}

div.settings_btn {
    height: 4rem;
    width: 4rem;
    text-align: center;
}

span.glyphicon-cog {
    font-size: 2.5rem;
    line-height: 4rem;
    vertical-align: middle;
}

div#scripture {
    margin: 3rem 5rem;
    text-align: justify;
}

div#scripture h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 200%;
}

div#scripture p {
    column-count: 2;
    column-gap: 3rem;
}

div#scripture sup {
    color: #37a87e;
}

#ot, #nt {
    padding: 0.25rem;
    font-family: 'Oswald', sans-serif;
    border: none;
    border-bottom: 3px solid #f98720;
    background-color: rgba(0,0,0,0);
}

#ot {
    margin-right: 0.25rem;
}

#nt {
    margin-left: 0.25rem;
}

div#bible_btns_container {
    margin: 0;
    padding: 1rem 0;
    width: 100%;
    background-color: #383838;
    color: #a19f9f;
    z-index: 10;
}

div#bible_btns, #chapters {
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 85%;
}

div#bible_btns {
    font-size: 1.25rem;
}

.bible_btn {
    margin: 0.25rem 0.5rem;
    padding: 0.25rem;
    border: none;
    border-bottom: 3px solid rgba(0,0,0,0);
    font-family: 'Oswald', sans-serif;
    background-color: rgba(0,0,0,0);
}

.bible_btn:hover, .bible_btn:active {
    border-bottom-color: #f98720;
    color: #fff;
    cursor: pointer;
}

.testament_divider {
    width: 3px;
    background-color: #f98720;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #fff, rgba(0, 0, 0, 0));
}

#chapters {
    margin-top: 1rem;
}

#chapters .ch_nr {
    margin: 2px;
    padding: 2px;
    width: 1.75rem;
    height: 1.75rem;
    text-align: center;
    border: 1px solid rgba(0,0,0,0);
    border-radius: 50%;
}

#chapters .ch_nr:hover, #chapters .ch_nr:active {
    border-color: #a19f9f;
    color: #fff;
    cursor: pointer;
}

#page_btns {
    display: inline-block;
    position: fixed;
    bottom: 0;
    padding: 0;
    width: 100%;
    font-size: 1.5rem;
    z-index: 10;
}

#page_btns #next {
    float: right;
}

#page_btns #previous, #page_btns #next {
    margin: 0.5rem;
    margin-bottom: 3rem;
    padding: 1rem;
    border: 3px solid rgba(0,0,0,0);
    border-radius: 50%;
}

#page_btns #previous:hover, #page_btns #next:hover {
    border-color: #f98720;
}

.icon-disclaimer {
    font-size: 0.75rem;
    margin-bottom: 30px;
    text-align: center;
}